@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="container position-relative">
        <div class="row">
            <div class="text-center" style="margin-top:100px;">
                <h1 style="font-family:joan; font-weight: 400;font-size:96px;">custme</h1>
                <h2 style="font-family:'Comforter Brush', cursive;font-weight: 400;font-size:60px;">
                    your precious ones
                </h2>
                <a asp-controller="Shop" asp-action="Index" class="btn btn-link" 
                    style="font-family: 'Ysabeau SC', sans-serif;font-optical-sizing: auto;font-weight: 600;font-size:20px; color:olivedrab">
                    Замовити
                </a>
            </div>
        </div>
    </div>
   @*  <img src="img/hero-left.png" class="hero-img img1" alt="Сорочка Етно">
    <img src="img/hero-right.png" class="hero-img img2" alt="Сорочка Етно"> *@
</div>